<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hola-amigo | Video Chat</title>
    <link rel="stylesheet" href="style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>

    <style>
      .logo {
        display: flex;
        background-color: #7280d8;
        border-bottom: 1px solid whitesmoke;
        padding: 1rem 2rem;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
      }

      .logo h3 {
        color: white;
        font-size: 2rem;
        /* border: 1px solid red;; */
      }

      nav a {
        padding: 0.5rem;
        margin-left: 1rem;
        text-decoration: none;
        color: white;
        border-right: 1px solid #7280d8;
        border-radius: 5px;
      }

      nav a:hover {
        color: white;
        border-right: 1px solid white;
        transition: 0.5s ease;
      }

      .options__button {
        position: relative;
      }

      i[data-tooltip]:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        color: white;
        width: 10rem;
        text-align: right;
        font-weight: normal;
        margin-left: 7rem;
        font-size: 1rem;
        text-align: center;
        transform: translateX(-80%);
        font-size: 15px;
        z-index: 1;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
    <div class="body1" id="body">
      <div class="header">
        <div class="logo">
          <h3>
            hola<span
              style="
                padding-top: 1rem;
                font-size: 3rem;
                color: #7280d8;
                margin-left: 5px;
                background-color: white;
              "
              >Amigo</span
            >
          </h3>

          <nav>
            <a href="/">Home</a>
            <a href="/about">About us</a>
            <a href="/contact">Feedback</a>
          </nav>

          <div class="header__back">
            <i class="fas fa-angle-left"></i>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="main__right">
          <h2>Messages</h2>
          <div class="main__chat_window">
            <div class="messages"></div>
          </div>
          <div class="main__message_container">
            <input
              id="chat_message"
              type="text"
              autocomplete="off"
              placeholder="Type message here..."
            />
            <div id="send" class="options__button">
              <i class="fas fa-paper-plane"></i>
            </div>
          </div>
        </div>

        <div class="dialog" style="display: none">
          <h2>Dialog box</h2>
        </div>
        <div class="main__left">
          <div class="videos__group">
            <div id="video-grid"></div>
          </div>
          <div class="options">
            <div class="options__left">
              <div id="stopVideo" class="options__button">
                <i class="fa fa-video-camera" data-tooltip="Hide camera"></i>
              </div>

              <div id="muteButton" class="options__button">
                <i class="fa fa-microphone" data-tooltip="Mute"></i>
              </div>

              <div id="startRecording" class="options__button">
                <i
                  class="fas fa-circle"
                  onclick="startRecording()"
                  data-tooltip="Recording"
                ></i>
                <!-- <i class="fas fa-paper-plane"></i> -->
                <!-- <i class="fa-solid fa-record-vinyl" onclick="startRecording()"></i> -->
                <!-- <button onclick="startRecording()">Record</button> -->
              </div>

              <div id="stopRecording" class="options__button">
                <i
                  class="fas fa-stop-circle"
                  onclick="stopRecording()"
                  data-tooltip="Stop recording"
                ></i>

                <!-- <button onclick="stopRecording()">Stop Record</button> -->
              </div>

              <div id="" class="options__button">
                <i
                  class="fas fa-desktop"
                  id="screenShareButton"
                  data-tooltip="Screen-share"
                ></i>
                <!-- <button onclick="screenShare()">ScreenShare</button> -->
              </div>
              <div id="showChat" class="options__button">
                <i class="fa fa-comment"></i>
              </div>
            </div>
            <div class="options__right">
              <div id="inviteButton" class="options__button">
                <i class="fas fa-user-plus"></i>
                <!-- <i class="fas fa-envelope"></i> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="script.js"></script>
</html>
